.App {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.accordion {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  width: calc(100% - 20px);
}

.accordion-body{
  font-size:max(13px, 0.9vw) ;
}

.about-us-title-section{
  font-size:max(12px, 1vw);
}

.react-logo{
  width: max(80px, 8vw);
}


.accordion-body {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ddd;
  padding: 15px;
  gap: 10px;
}

.accordion-title, .accordion-icon {
  margin: 0;
}

.accordion-title {
  width: 50%;
}


.about-us-title-section {
  display: flex;
}

